.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  justify-items: center;
}

.bloc {
  width: 60%;
  height: 70px;
  background-color: #b2cac143;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.mosaic {
  width: 60%;
  height: 70px; 
  border: 1px solid #ccc;
  background-color: #63ddbfc3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  filter: blur(3px);
}
