.App {
  display: grid;
  grid-gap: 10px;
}

.line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  place-items: center;
}

.bloc {
  width: 65%;
  height: 60px;
  background-color: #b2cac143;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.mosaic {
  width: 65%;
  height: 60px; 
  background-color: #636e6bc3;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  filter: blur(5px);
}

.supp_mosaic {
  width: 60%;
  height: 70px; 
  background-color: #636e6bc3;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}