.Historique {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  margin: 20px auto;
  max-width: 1050px;
  border-radius: 10px;
  overflow: hidden; /* Ajout d'un débordement caché pour gérer la barre de défilement */
}

.Historique .Tableau {
  width: 100%; /* Utilisation de la largeur à 100% pour s'adapter à la taille du parent */
  border-collapse: collapse;
  margin: 20px auto;
  overflow-x: auto; /* Activation du défilement horizontal si nécessaire */
  text-align: center;
  border-radius: 10px;
  letter-spacing: 2.5px;
  max-height: calc(3 * 50px + 2px); /* Définit la hauteur maximale du tableau à 3 lignes */
  overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

.Historique .Tableau th, .Historique .Tableau td {
  border: 1px solid #5c5959cd;
  text-align: center; /* Centrer le contenu du tableau */
  padding: 8px;
  height: 50px;
}

.Historique .Tableau th {
  background-color: #ffffffd5;
}

.Historique .Header {
  position: sticky;
  top: 0;
  background-color: white;
}

.Historique .Tableau tr:nth-child(even) {
  background-color: #8fb0e0f0;
}

.Historique .Tableau tr:nth-child(odd) {
  background-color: #7a8dabf0;
}

.Historique .Tableau tr:hover {
  background-color: #9fa7cff2;
}
