.Historique {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px auto; /* Center the container horizontally and provide top and bottom margin */
  max-width: 800px; /* Limite la largeur maximale du contenu */
  max-height: 350px; /* Adjust max-height to provide sufficient space for the table and margin */
  z-index: 0;
  border-radius: 10px;
}

.Tableau {
  width: fit-content; /* Le tableau occupera la largeur nécessaire */
  border-collapse: collapse;
  margin: 0 auto; /* Center the table horizontally */
  overflow-y: auto;
  display: block; /* Garde la disposition en bloc pour la barre de défilement */
  text-align: center; /* Centre le contenu horizontalement */
  border-radius: 10px;
}


.Tableau th, .Tableau td {
  border: 1px solid #eaeaeacd;
  text-align: center;
  padding: 8px;
  height: 50px;
  width:100px ;
}

.Tableau th {
  background-color: #ffffffd5;
}

.Header {
  position: sticky;
  top: 0;
  background-color: white;
}

.Tableau tr:nth-child(even) {
  background-color: #8fb0e0f0;
}

.Tableau tr:nth-child(odd) {
  background-color: #7a8dabf0;
}

.Tableau tr:hover {
  background-color: #9fa7cff2;
}
