/* Styles pour le composant App */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Centre le contenu horizontalement */
  max-width: 800px; /* Limite la largeur maximale du contenu */
  max-height: 300px;
}

.Tableau {
  width: fit-content; /* Le tableau occupera la largeur nécessaire */
  border-collapse: collapse;
  margin: 20px auto; /* Centre le tableau horizontalement */
  max-height: 300px;
  overflow-y: auto;
  display: block; /* Garde la disposition en bloc pour la barre de défilement */
  text-align: center; /* Centre le contenu horizontalement */
}


.Tableau th, .Tableau td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 50px;
  width:100px ;
}

.Tableau th {
  background-color: #f2f2f2;
}

.Header {
  position: sticky;
  top: 0;
  background-color: white;
}

.Tableau tr:nth-child(even) {
  background-color: #617696;
}

.Tableau tr:hover {
  background-color: #ddd;
}
