.modal {
    font-size: 12px;
    position: fixed; /* Position fixée pour que le pop-up reste à la même position même si la page est défilée */
    top: 0; /* Position en haut de la page */
    left: 0; /* Position à gauche de la page */
    width: 100%; /* Largeur de 100% de la largeur de la fenêtre */
    height: 100%; /* Hauteur de 100% de la hauteur de la fenêtre */
    backdrop-filter: blur(5px); /* Apply blur effect to the background */
    background-color: rgba(255, 255, 255, 0.2); /* Set a semi-transparent background color */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    
}

.modal > .pub_container {
    width: 500px; /* largeur fixe du conteneur */
    height: 300px; /* hauteur fixe du conteneur */
    overflow: hidden; /* cache le débordement de l'image */
    border-radius: 10px;
}

.modal > .pub_container img {
    position: relative; /* Position relative pour permettre le positionnement absolu du bouton */
    width: 100%; /* assure que l'image occupe toute la largeur du conteneur */
    height: 100%; /* assure que l'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* ajuste la taille de l'image pour couvrir tout le conteneur */
}

.modal > .pub_container > .close {
cursor: pointer;
position: absolute;
display: block;
padding: 2px 5px;
line-height: 20px;
right: 30%;
top: 30%;
font-size: 24px;
background: #ffffff;
border-radius: 18px;
border: 1px solid #cfcece;
z-index: 1; /* Assure que le bouton de fermeture est au-dessus de l'image */
}