.Statistique {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes côte à côte */
    gap: 10%; /* Espace entre les tableaux */
  }
  
  .Tableau {
    border: 1% solid #ccc;
    padding: 5%;
  }
  

  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1% solid #ddd;
    padding: 5%;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  