.Statistique {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes côte à côte avec une largeur flexible */
  gap: 2rem; /* Espace entre les tableaux */
  align-items: center;
}

.Statistique > .Tableau {
  border-collapse: collapse;
  margin: 20px auto; /* Centre le tableau horizontalement */
  display: block; /* Garde la disposition en bloc pour la barre de défilement */
  text-align: center; /* Centre le contenu horizontalement */
  border-radius: 10px;
  letter-spacing: 2.5px;
  max-height: 300px; /* Hauteur maximale avec barre de défilement */
  overflow-y: auto; /* Activation de la barre de défilement verticale si nécessaire */
}

.Statistique > .Header {
  background-color: white;
}

.Statistique > .Tableau th,
.Statistique > .Tableau td {
  border: 1px solid #5c5959cd;
  padding: 10px; /* Ajout de rembourrage pour un meilleur espacement */
  text-align: center;
  height: 50px;
}

.Statistique > .Tableau th {
  background-color: #ffffffd5;
}

.Statistique > .Tableau tr:nth-child(even) {
  background-color: #8fb0e0f0;
}

.Statistique > .Tableau tr:nth-child(odd) {
  background-color: #7a8dabf0;
}

.Statistique > .Tableau tr:hover {
  background-color: #9fa7cff2;
}
